<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteURL" value="https://one.web.ppg.com/la/mexico/ppgmexico/CalidadTotal/Control_Documental/"/>
    <add key="UsuarioSP" value="k697344"/>
    <add key="PasswordSP" value="Nala+*200531"/>
    <add key="BibliotecaDocumentosSP" value="Manual de Calidad"/>
    <add key="ListaFlujoCronograma" value="CAT_FlujoCronograma"/>
    <add key="ColumnaDocumentoSP" value="Loop"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>